mixin SectionCooperation(data)
    section.section.cooperation
        .container
            .cooperation__content
                .pattern
                .cooperation__bg.col-xxl-11.col-xl-10.col-md-11.col-xs-12
                .cooperation__head 
                    .section__header
                        .section__title.title.title--h2!= data.title
                        p.section__text.text.text--lead!= data.description
                .cooperation__slider
                    .swiper 
                        .swiper-wrapper
                            each item in data.items
                                .cooperation__slide.swiper-slide
                                    .cooperation__slide-content
                                        .cooperation__slide-title.title.title--h3!= item.title 
                                        p.cooperation__slide-text!= item.text 
                                        .cooperation__slide-footer
                                            ul.cooperation__slide-types
                                                each type in item.items
                                                    li.cooperation__slide-type 
                                                        .cooperation__slide-type-name.title.title--item!= type.name
                                                        .cooperation__slide-type-value.text.text--body!= type.value
                                                        if type.text
                                                            .cooperation__slide-type-text.text.text--note!= type.text
                        .swiper-pagination
                        .cooperation__arrow.cooperation__prev
                            .arrow 
                                <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                </svg>
                        .cooperation__arrow.cooperation__next
                            .arrow 
                                <svg class="arrow__icon" viewBox="0 0 51 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M35.9865 28H0V20H36.303L23.9628 5.60306L30.0369 0.396729L50.3294 24.0714L28.966 47.6835L23.0337 42.3162L35.9865 28Z" fill="white"/>
                                </svg>
