mixin SectionAdditional(data)
    section.section.additional
        .container 
            .row
                .col-xs-12
                    .section__header
                        .section__title.title.title--h2!= data.title
                        if data.description
                            p.section__text.text.text--lead!= data.description
        .container 
            .additional__list.row
                each item in data.items 
                    .additional__item.col-xxl-4.col-lg-5.col-md-6.col-xs-12
                        .additional__icon 
                            img.additional__image(src= item.icon, alt=item.icon)
                        if item.title 
                            .additional__title.title.title--mini!= item.title 
                        p.additional__text.text.text--body!= item.text
                            