mixin SectionHero(title, description, params)
    section.section.hero
        .hero__video
            <video class="video" autoplay="" loop="" muted="" poster="https://mainbit.ru/src/images/header-bg-default.jpg" preload="auto">
                <source src="https://mainbit.ru/src/video/glavnaya.mp4">
                | Элемент video не поддерживается вашим браузером.
            </video>
        .container
            .row.no-gutters
                .hero__offset.col-sm-12 MainBit
                if params.breadcrumbs
                    .hero__breadcrumbs.col-sm-12
                        .hero__breadcrumbs-content
                            .hero__breadcrumbs-list
                                a.hero__breadcrumbs-item.text.text--note(href="/") Главная
                                each link in params.breadcrumbs
                                    a.hero__breadcrumbs-item.text.text--note(href=link.href)= link.name
                if params.subtitle
                    .hero__subtitle.col-sm-12
                        .hero__subtitle-text.title.title--subtitle
                            span!= params.subtitle
                        .hero__subtitle-bg.title.title--subtitle
                            span!= params.subtitle
                .hero__title.col-sm-12
                    .hero__title-text.title
                        span!= title
                    .hero__title-bg.title
                        span!= title
                .hero__content.col-sm-12
                    .hero__box
                        if description
                            .hero__description.text.text--body!= description
                        if params.contacts 
                            .hero__contacts
                                a.hero__phone.text.text--lead(href="tel:+74959782708") +7 495 978-27-08
                                a.hero__mail.text.text--lead(href="mailto:info@mainbit.ru") info@mainbit.ru
                            .hero__address.text.text--body Москва, Старопетровский проезд, д. 7а, стр.&nbsp;6, оф.&nbsp;600. Ближайшая станция метро&nbsp;&mdash; &laquo;Войковская&raquo;.
                        if params.triggers
                            .hero__triggers
                                if params.triggers.button
                                    .hero__button.button(data-feedback)
                                        span= params.triggers.button
                                if params.triggers.scroll
                                    .hero__scroll
                                        a.link.link--dashed.link--uppercase(href="#info") 
                                            span.link__text= params.triggers.scroll
                                            span.link__icon ↓
                        if params.author 
                            .hero__author 
                                .hero__author-picture
                                    img.hero__author-image(src="/src/images/author.jpg", alt="Аватар")
                                .hero__author-info
                                    .hero__author-name.text.text--note Сергей Анисимов
                                    .hero__author-date.text.text--note 26 октября, 2017